.vscode/
.venv/
venv/
workspace/
/logs/app.log.*
database/queries.sql
database/delete_strategy.sql
database/useful_queries.sql
src/tempCodeRunnerFile.py
tempCodeRunnerFile.python
src/__pycache__/
optimizers/stop_loss_optimizer/__pycache__/
machine_learning/__pycache__/
machine_learning/datasets/
machine_learning/models/
