workspace/
logs/
logs/*
database/queries.sql
database/delete_strategy.sql
database/useful_queries.sql
.vscode/
input_files/*
output_files/*
!README.md
src/__pycache__/
src/tempCodeRunnerFile.py
src/CandleGraphAndStatistics.py
venv/
.venv/
optimizers/stop_loss_optimizer/__pycache__/
machine_learning/__pycache__/
machine_learning/datasets/
tempCodeRunnerFile.python
